<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Yummy recipe | Add recipe</title>
	<link href="../static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="header-wrapper"><header id="navigation">
        <div class="left"><h1>Yummy recipe</h1></div>
            <div class="right">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
        </div>
    </header>
    </div>
    <div id='center'>
	<section id="content" >
		<!--<form id="signup" class="signup" action="/add_item,updatelistitem" name="signup" method="POST">-->
        <h2>Your recipe</h2>
				<ul class="list">
					<li>recipe 1</li><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete_list/{{recipe_name}}/{{ item }}">delete</a></li>
					<li>recipe 2</li><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete_list/{{recipe_name}}/{{ item }}">delete</a></li>
					<li>recipe 4</li><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete_list/{{recipe_name}}/{{ item }}">delete</a></li>
					<li>recipe 5</li><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete_list/{{recipe_name}}/{{ item }}">delete</a></li>
					<li>recipe 6</li><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete_list/{{recipe_name}}/{{ item }}">delete</a></li>

			</ul>
		<!--</form>
        <div class="add">
               <p><a href="{{ url_for('add_item') }}">Add recipe</a></p>
							 <p><a href="#">Update Recipe</a></p>
                             <p><a href="#">Delete Recipe</a></p>
                            
        </div>-->
    </section>
    </div>
    <footer id="footer">
            <div id="center">
                <div class="text-center">
                    <p>Copyright &copy; 2017 - <a href="/logout">Yummy recipe</a> | All Rights Reserved</p>
                </div>
            </div>
        </footer>
</body>
</html>
