<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Yummy recipe | Add recipe</title>
	<link href="../static/css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="header-wrapper"><header id="navigation">
        <div class="left"><h1>Yummy recipe</h1></div>
            <div class="right">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
        </div>
    </header>
    </div>
    <div id='center'>
	<section id="content" >
		<!--<form id="signup" class="signup" action="/add_item,updatelistitem" name="signup" method="POST">-->
        <h2>Your recipes</h2>
        <ul class="list">
                {% for index in recipe_new%}
                <!--<li><a class="item">{{ item }}</a><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete_list/{{recipe_name}}/{{ item }}">delete</a></li>-->
                <!--<li><a class="index">{{ index }}</a>  <a class="side" href="/itemz/{{index}}">edit</a> <a class="side" href="/delete_list/{{recipe_name}}">delete</a></li>-->
								<li><a class="index">{{ index }}</a>  <a class="side" href="/updaterecipe/{{index}}">Edit</a> <a class="side" href="/itemz/{{index}}">View Contents</a> <a class="side" href="/delete_list/{{index}}">Delete</a></li>

					      {% endfor %}
            </ul>
				<!--<ul class="list">
					<li>recipe 1</li>
					<li>recipe 2</li>
					<li>recipe 4</li>
					<li>recipe 5</li>
					<li>recipe 6</li>

			</ul>-->
		<!--</form>-->
        <div class="add">
               <p><a href="{{ url_for('add_newrecipe') }}">Add recipe</a></p>


        </div>
</section>
    </div>
</body>
</html>
