<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Yummy Recipes</title>
	<link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="header-wrapper"><header id="navigation">
        <div class="left"><h1>Yummy Recipes</h1></div>
            <div class="right">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
    </header>
    </div>
    <div id='center'>
	<section id="content">
        <h2>Your {{recipe_name}} Items</h2>
        <ul class="list">
            {% for itemz in items%}
            <!--<li><a class="item">{{ item }}</a><a class="side" href="/updatelistitem/{{recipe_name}}/{{ item }}">edit</a><a class="side" href="/delete_list/{{recipe_name}}/{{ item }}">delete</a></li>-->
            <li><a class="itemz">{{ itemz }}</a><a class="side" ></a> <a class="side" href="/updaterecipeitem/{{recipe_name}}/{{itemz}}">Edit</a> <a class="side" href="/delete_listitem/{{recipe_name}}/{{itemz}}">delete</a></li>
			{% endfor %}
		</ul>
        <div class="add">
            <p><a href="{{ url_for('add_newrecipeItem', recipe_name=recipe_name) }}">Add Item</a></p>
            <p><a href="/index">Back</a></p>
        </div>
    </section>
    </div>

    <footer id="footer">
            <div id="center">
                <div class="text-center">
                    <p>Copyright &copy; 2017 - <a href="/index">Yummy recipes</a> | All Rights Reserved</p>
                </div>
            </div>
    </footer>

</body>
</html>
