<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Yummy recipes |Welcome</title>
	<link href="../static/css/style.css" rel="stylesheet"/>
</head>
<body class='full'>
    <div id='center'>
        <div class="form-wrapper">
        <form id="signup" class="signup" action="/signup" name="signup" method="POST">
            <h2>Yummy recipes</h2>
            <p>SIGN UP</p>
            <input type="text" name="name" placeholder="Your name" value= ""/>
            <input type="email" name="email" placeholder="Email" value= ""/>
            <input type="password" name="password" placeholder="Password" value= ""/>
            <input id="btn" type="submit" value="Sign Up"/>
            <p>Terms and Conditions apply.</p>
        </form>
        </div>

    </div>
</body>
</html>
