<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Yummy Recipe |Update</title>
	<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
    <div class="header-wrapper"><header id="navigation">
        <div class="left"><h1>Yummy Recipe</h1></div>
            <div class="right">
                <ul>
                    <li><a href="/index">HOME </a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
        </div>
    </header>
    </div>
    <div id='center'>
	<section id="content-add" >
		<h2>Update Recipe-list</h2>
		<!--<form id="signup" class="signup" action="/signup" name="signup" method="POST">-->

					<!--{% if error %}
					<p class=error><strong>Error:</strong>{{ error }}</p>
					{% endif %}-->
				<form id="add" name="login" method="POST" action="">
						<p>Back to lists<a href="/index"> Click here</a></p>
						<input type="text" name='recipe_name' placeholder="recipe_name" value="{{recipe_name}}" readonly="readonly" />
						<input type="text" name='item' placeholder="item name"value="{{item_name}}" readonly="readonly" />
						<input type="text" name='new_item_name' placeholder="New Item name"/>
						<input id="btn" type="submit" value="Change"/>
				</form>
	</section>
	</div>
	<footer id="footer">
		<div id="center">
			<div class="text-center">
				<p>Copyright &copy; 2017 - <a href="/logout">Yummy recipe</a> | All Rights Reserved</p>
			</div>
		</div>
	</footer>
<!--<footer id="footer">
		<div id="center">
			<div class="text-center">
				<p>Copyright &copy; 2017 - <a href="#home">Yummy Recipe</a> | All Rights Reserved</p>
			</div>
		</div>
	</footer>-->

</body>
</html>
